/*---------------------------
 CSS Index  
****************************




/* Education section
==================================================*/

#Education {
  padding: 100px 0;
  background: #503C3D
}



.timeline {
  padding-left: 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}



.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 100%;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #a87c7c;
  outline: 10px solid #000;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: black;
  box-shadow: inset 0 0 0 0em #425BB5;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}



:root {
  --color-primary: #A87C7C;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #A87C7C;
  --background-color-1: linear-gradient(145deg, #3E32329, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px; }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary);
  color: var(--color-body);
  font-weight: var(--p-regular); }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
      overflow: hidden; } }
  

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
  margin: 0;
  margin-bottom: 20px; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.4074;
  color: var(--color-heading); }

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.19;
  font-weight: 700; }

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.23; }

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.14; }

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.25; }



h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit; }





h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--s-bold); }

h4,
.h4,
h5,
.h5 {
  font-weight: var(--s-bold); }



p {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  font-weight: var(--p-regular);
  color: var(--color-body);
  margin: 0 0 40px; }
  
  p:last-child {
    margin-bottom: 0; }



/*---------------------------
	List Style 
---------------------------*/
ul,
ol {
  padding-left: 18px; }

ul {
  list-style: square;
  margin-bottom: 30px;
  padding-left: 20px; }
 
  ul li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-body); }
    ul li a {
      text-decoration: none;
      color: var(--color-gray); }
   



.m--0 {
  margin: 0; }

.rn-section-gap {
  padding: 100px 0; }

.mt--30 {
  margin-top: 30px !important; }


  .mt_lg--30 {
    margin-top: 30px !important; }
  

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block; }



a {
  color: var(--color-heading);
  text-decoration: none;
  outline: none; }



b,
strong {
  font-weight: bold; }



menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px; }



img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }



button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer; }


/* ========= Forms Styles ========= */
input,
button,
select,
textarea {
  background: transparent;
  border: 1px solid var(--color-border);
  transition: all 0.4s ease-out 0s;
  color: var(--color-body);
  width: 100%; }
  
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }



.row--25 {
  margin-left: -25px;
  margin-right: -25px; }
 
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .row--25 {
      margin-left: -15px;
      margin-right: -15px; } }
 
  .row--25 > [class*="col"],
  .row--25 > [class*="col-"] {
    padding-left: 25px;
    padding-right: 25px; }
   
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .row--25 > [class*="col"],
      .row--25 > [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px; } }
   

.row--30 {

  margin-top: 100px;
  margin-left: -30px;
  margin-right: -30px; }
 
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .row--30 {
      margin-left: -15px;
      margin-right: -15px; } }
  
  .row--30 > [class*="col"],
  .row--30 > [class*="col-"] {
    padding-left: 30px;
    padding-right: 30px; }
   
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .row--30 > [class*="col"],
      .row--30 > [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px; } }







        /*---------------------------
          trying to fix home 
          --------------------------*/

          








    

/*---------------------------
    Header Area Styles 
-----------------------------*/
body.template-color-1 {
  background-color: #212428; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  position: relative; }

.nav-pills .nav-link {
  margin: .5rem 1rem;
  padding: 0; }

.header-wrapper {
  height: 122px;
  padding: 0 64px; }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-wrapper {
      padding: 0 30px; } }
  @media only screen and (max-width: 767px) {
    .header-wrapper {
      padding: 0 20px;
      height: 80px; } }
  @media only screen and (max-width: 575px) {
    .header-wrapper {
      padding: 0 3px; } }
  @media only screen and (max-width: 479px) {
    .header-wrapper {
      padding: 0; } }
  .header-wrapper .header-left {
    flex-basis: 20%;
    justify-content: flex-start;
    display: flex; }
  .header-wrapper .header-center {
    flex-basis: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center; }
  .header-wrapper .header-right {
    margin-left: 30px;
    justify-content: flex-end;
    display: flex;
    margin-right: -18px; }
    @media only screen and (max-width: 575px) {
      .header-wrapper .header-right a.rn-btn {
        font-size: 14px;
        padding: 17px 19px;
        line-height: 21px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1599px) {
      .header-wrapper .header-right a.rn-btn {
        font-size: 13px;
        padding: 17px 19px;
        line-height: 21px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .header-wrapper .header-right a.rn-btn {
        display: none; } }
    .header-wrapper .header-right i {
      z-index: 800;
      color: var(--color-primary);
      font-size: 36px;
      position: relative;
      transition: 0.5s;
      top: 2px; }

@media only screen and (max-width: 1199px) {
  #sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 999;
    transition: .7s;
    display: flex;
    opacity: 1; } }
  @media only screen and (max-width: 1199px) and (min-width: 992px) and (max-width: 1199px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (min-width: 768px) and (max-width: 991px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 767px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 575px) {
    #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 1199px) and (max-width: 479px) {
    #sideNav {
      display: inline-block; } }

@media only screen and (max-width: 1199px) {
    #sideNav ul li {
      list-style: none;
      margin: 50px 20px;
      display: block; }
      #sideNav ul li a {
        text-decoration: none;
        color: var(--color-white);
        display: inline-block;
        font-size: 16px;
        font-weight: 400; } }

.home-sticky .rn-header.header--fixed.sticky {
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  backdrop-filter: none;
  top: 0; }

.home-sticky .sticky .header-wrapper {
  height: 90px;
  border-bottom: none; }

.home-sticky .header-wrapper .header-right a.rn-btn {
  display: none; }

.home-sticky .header-wrapper .header-right i.feather-menu {
  display: block;
  margin-top: -10px;
  cursor: pointer; }

.home-sticky .rn-header .header-wrapper.menu-open .close-menu {
  opacity: 1;
  z-index: 99999;
  visibility: visible;
  color: var(--color-primary);
  font-size: 36px;
  margin-bottom: 15px;
  position: inherit;
  transition: .7s;
  cursor: pointer; }

.home-sticky .rn-header .header-wrapper.menu-open #sideNav {
  right: 0 !important; }

.home-sticky #sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  background: #191b1e;
  box-shadow: none;
  right: -250px;
  top: 0;
  z-index: 999;
  transition: .7s;
  display: flex;
  opacity: 1; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 767px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 575px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  @media only screen and (max-width: 479px) {
    .home-sticky #sideNav {
      display: inline-block; } }
  .home-sticky #sideNav ul {
    display: block;
    margin-top: 54px;
    margin-left: 30px; }
    .home-sticky #sideNav ul li {
      list-style: none;
      margin: 50px 20px;
      display: block; }
      .home-sticky #sideNav ul li a {
        text-decoration: none;
        color: var(--color-white);
        display: inline-block;
        font-size: 16px;
        font-weight: 400; }

.rn-header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.rn-header.header--fixed {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s; }
  .rn-header.header--fixed.rn-d-none {
    display: none; }
  .rn-header.header--fixed.sticky {
    display: block; }

.rn-header.header--fixed.sticky {
  background-color: #212428de;
  box-shadow: var(--shadow-1);
  position: fixed;
  backdrop-filter: blur(15px);
  top: 0; }

.sticky .header-wrapper {
  height: 90px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sticky .header-wrapper {
      height: 70px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sticky .header-wrapper {
      height: 70px; } }
  @media only screen and (max-width: 767px) {
    .sticky .header-wrapper {
      height: 70px;
      padding: 0; } }
  .sticky .header-wrapper .logo img {
    max-width: calc(100% - 10%); }

.logo a {
  display: inline-block; }
  .logo a img {
    transition: 0.3s; }
    @media only screen and (max-width: 767px) {
      .logo a img {
        max-height: 54px; } }

@media only screen and (max-width: 1199px) {
  .rn-header .header-wrapper.menu-open #sideNav {
    right: 0 !important; }
  .rn-header .header-wrapper.menu-open .close-menu {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    color: var(--color-primary);
    font-size: 36px;
    margin-bottom: 15px;
    position: inherit;
    transition: .7s; } }

.close-menu {
  opacity: 0;
  visibility: hidden; }
  .close-menu .closeTrigger i {
    position: relative; }

.left-header-style {
  color: white;
  position: fixed;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  top: 0px;
  width: 290px;
  z-index: 1;
  transform: translateX(0px);
  border-right: 1px solid #121415;
  background: #212428;
  padding: 50px 40px 40px;
  transition: all 0.3s ease-in-out 0s; }
  .left-header-style .logo-area a img {
    border-radius: 50%;
    border: 5px solid #32363b;
    box-shadow: var(--shadow-1); }
  .left-header-style #sideNavs .primary-menu {
    display: block;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 30px 0 0 10px; }
    .left-header-style #sideNavs .primary-menu li {
      margin: 0; }
      .left-header-style #sideNavs .primary-menu li a {
        display: flex;
        align-items: center;
        border: none;
        font-size: 18px;
        color: var(--color-light);
        border-radius: 10px;
        width: 100%;
        margin-left: 0;
        transition: var(--transition);
        margin: 19px 0;
        font-size: 16px;
        transition: var(--transition); }
        .left-header-style #sideNavs .primary-menu li a:hover {
          color: var(--color-primary); }
        .left-header-style #sideNavs .primary-menu li a.active {
          color: var(--color-primary); }
        .left-header-style #sideNavs .primary-menu li a svg {
          height: 20px;
          width: 20px;
          margin-right: 10px;
          color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
          top: -3px;
          position: relative; }
  .left-header-style .footer .social-share-style-1 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin-top: 40px !important; }

.with-particles {
  position: relative; }

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0; }

.header-style-2 {
  position: absolute;
  top: 0;
  z-index: 99;
  width: auto;
  right: 0;
  padding: 15px 30px;
  left: 0; }
  .header-style-2 .header-right .hamberger-menu i {
    font-size: 32px;
    color: var(--color-primary); }







/*--------------------
    Contact Form 
----------------------*/


.liststyle {
  padding: 0;
  list-style: none; }



.social-share-style-1 .title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--color-lightn);
  display: inline-block;
  margin-bottom: 20px; }

.social-share-style-1 .social-share {
  margin: 0;
  flex-wrap: wrap; }
  .social-share-style-1 .social-share li {
    margin: 0 25px 25px 0; }
    .social-share-style-1 .social-share li a {
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: 6px;
      transition: var(--transition);
      background: var(--background-color-1);
      position: relative;
      z-index: 1;
      box-shadow: var(--shadow-1); }
      
      .social-share-style-1 .social-share li a::before {
        content: '';
        position: absolute;
        transition: var(--transition);
        width: 100%;
        height: 100%;
        border-radius: 6px;
        top: 0;
        left: 0;
        background: linear-gradient(to right bottom, #212428, #16181c);
        opacity: 0;
        z-index: -1; }
      
      .social-share-style-1 .social-share li a svg {
        color: var(--color-lightn);
        transition: var(--transition);
        stroke-width: 2;
        position: relative;
        z-index: 2;
        width: 20px; }



.cd-headline {
  font-size: 3rem;
  line-height: 1.2; }

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300; } }



.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }


/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: middle; }

.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%); }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline.clip b.is-visible {
  opacity: 1; }

/* Header  */
/*---------------------------
    Header Area Styles 
-----------------------------*/
body.template-color-1 {
  background-color: #503C3D; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  position: relative; }

.nav-pills .nav-link {
  margin: .5rem 1rem;
  padding: 0; }

.header-wrapper {
  height: 122px;
  padding: 0 64px; }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-wrapper {
      padding: 0 30px; } }
  
  .header-wrapper .header-left {
    flex-basis: 20%;
    justify-content: flex-start;
    display: flex; }
  .header-wrapper .header-center {
    flex-basis: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center; }
  

@media only screen and (max-width: 1199px) {
  #sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 999;
    transition: .7s;
    display: flex;
    opacity: 1; } }
  @media only screen and (max-width: 1199px) and (min-width: 992px) and (max-width: 1199px) {
    #sideNav {
      display: inline-block; } }


.rn-header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.rn-header.header--fixed {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s; }

.logo a {
  display: inline-block; }
  .logo a img {
    transition: 0.3s; }


/*----------------------------
    Mobile Menu Styles  
------------------------------*/
.popup-mobile-menu {
  z-index: 9999;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out; }
  .popup-mobile-menu .inner {
    padding: 25px 40px;
    width: 375px;
    z-index: 999;
    position: absolute;
    background: #191b1e;
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    opacity: 0;
    left: -150px;
    transition: all .5s ease-out; }
    @media only screen and (max-width: 479px) {
      .popup-mobile-menu .inner {
        width: 310px;
        padding: 10px; } }
    .popup-mobile-menu .inner .menu-top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 20px; }
      .popup-mobile-menu .inner .menu-top .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .popup-mobile-menu .inner .menu-top .menu-header .close-button .close {
          opacity: 1;
          width: max-content;
          position: relative; }
          @media only screen and (max-width: 479px) {
            .popup-mobile-menu .inner .menu-top .menu-header .close-button .close {
              right: 9px; } }
          .popup-mobile-menu .inner .menu-top .menu-header .close-button .close::after {
            position: absolute;
            content: '';
            padding: 22px;
            background: var(--background-color-1);
            left: 50%;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: -1; }

.social-share-style-1 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 100px !important; }

.social-share-style-1 .social-share li {
  margin: 0 15px 15px 0; }

.social-share-style-1 .social-share {
  margin-right: -15px; }

.social-share-style-1 .social-share li a {
  width: 53px;
  height: 53px;
  line-height: 53px; }

.popup-mobile-menu .social-share-style-1 .social-share li a {
  box-shadow: none; }



/*-------------------------
    Section Title Styles
-------------------------- */
.section-separator {
  position: relative; }
  .section-separator::after {
    position: absolute;
    max-width: 1270px;
    height: 1px;
    background: #121415;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }

@media only screen and (max-width: 479px) {
  .section-flex {
    flex: none;
    display: block !important; } }

.section-title span.subtitle {
  color: #ff014f;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 500; }

.section-title h2.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title h2.title {
      font-size: 38px;
      line-height: 50px; } }


.slide {
  padding-bottom: 100px;
  position: relative; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slide {
      padding-bottom: 80px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slide {
      padding-bottom: 100px; } }
  @media only screen and (max-width: 575px) {
    .slide {
      padding-bottom: 100px; } }
  .slide .content {
    margin-top: 150px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .slide .content {
        margin-top: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .slide .content {
        margin-top: 50px; } }
    @media only screen and (max-width: 767px) {
      .slide .content {
        margin-top: 40px; } }
    .slide .content .inner {
      margin-bottom: 142px; }
      @media only screen and (max-width: 1199px) {
        .slide .content .inner {
          margin-bottom: 40px !important; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .slide .content .inner {
          margin-bottom: 40px; } }
      .slide .content .inner span.subtitle {
        font-size: 14px;
        font-family: var(--font-secondary);
        color: var(--color-lightn);
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        margin-bottom: 20px; }
        @media only screen and (max-width: 479px) {
          .slide .content .inner span.subtitle {
            letter-spacing: 1px; } }
      .slide .content .inner .title {
        color: #ffffff;
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 22px;
        font-family: var(--font-secondary); }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .slide .content .inner .title {
            font-size: 50px;
            line-height: 1.2; } }

        .slide .content .inner .title span {
          color: #A87C7C; }
        .slide .content .inner .title .header-caption span {
          color: var(--color-white);
          font-weight: 600; }

      .slide .content .inner .description {
        font-size: 16px;
        line-height: 30px;
        color: var(--color-lightn);
        padding-right: 16%;
        opacity: 0.9; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .slide .content .inner .description {
            margin-bottom: 30px; } }

  .slide .social-share-inner-left span.title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: var(--color-lightn);
    display: inline-block;
    margin-bottom: 20px; }
  .slide .social-share-inner-left .social-share {
    margin: -10px -12px;
    flex-wrap: wrap; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .slide .social-share-inner-left .social-share {
        margin: -10px -10px; } }
    
    .slide .social-share-inner-left .social-share li {
      margin: 10px 12px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .slide .social-share-inner-left .social-share li {
          margin: 10px 10px; } }
     
      .slide .social-share-inner-left .social-share li a {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 6px;
        transition: var(--transition);
        background: var(--background-color-1);
        box-shadow: var(--shadow-1);
        position: relative; }
        .slide .social-share-inner-left .social-share li a::before {
          content: '';
          position: absolute;
          transition: var(--transition);
          width: 100%;
          height: 100%;
          border-radius: 6px;
          top: 0;
          left: 0;
          background: linear-gradient(to right bottom, #212428, #16181c);
          opacity: 0;
          z-index: -1; }

  .slide .thumbnail {
    position: relative;
    z-index: 2; }
   
    .slide .thumbnail::before {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: calc(100% - 130px);
      content: "";
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: var(--background-color-1);
      box-shadow: var(--shadow-1);
      border-radius: 6px; }
    .slide .thumbnail .inner {
      text-align: center; }
      .slide .thumbnail .inner img {
        border: 0;
        vertical-align: middle;
        max-width: 100%;
        height: auto; }


/*---------------------------
    Service Area Styles 
-----------------------------*/
.rn-service {
  text-align: left;
  padding: 35px 50px 35px 50px;
  transition: 0.5s all ease-in-out;
  position: relative;
  border-radius: 10px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  position: relative;
  z-index: 1;
  height: 100%; }

  .rn-service a.over-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  .rn-service .inner .icon {
    margin-bottom: 29px; }
  
  .rn-service .inner .content .title {
    font-family: var(--color-primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color: var(--color-lightn); }
    @media only screen and (max-width: 767px) {
      .rn-service .inner .content .title {
        margin-bottom: 15px; } }
    .rn-service .inner .content .title a {
      transition: var(--transition); }
  .rn-service .inner .content p.description {
    font-size: 16px;
    line-height: 28px;
    color: var(--color-lightn);
    margin-bottom: 22px;
    transition: var(--transition); }

  .rn-service::before {
    content: '';
    position: absolute;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1; }
 

.rn-service .inner > * {
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transform: translateY(20px); }



button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none; }

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5; }



.section-title span.subtitle {
  color: #ffffff;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px; }

